### Load libs

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Load data

In [ ]:
folder = '/content/drive/MyDrive/Loan_default/prepared/'
file_name = 'train_engineered.csv'
path = folder+file_name
data = pd.read_csv(path)

In [ ]:
data.shape

(152222, 713)

In [ ]:
data.head()

   exceptionStatus                          id  ...  eventYear       ltv
0            False  0001745314 - 040852-2018-2  ...       2021  1.025417
1            False  0001745314 - 040916-2018-2  ...       2021  1.248153
2            False  0001745314 - 040946-2018-2  ...       2020  0.856490
3            False  0001745314 - 041021-2018-2  ...       2021  0.948130
4            False  0001745314 - 041040-2018-2  ...       2021  0.808214

[5 rows x 713 columns]

### Feature selection

For modeling we will be only using those features which are available at the initial stage of the loan.

In [ ]:
features = ['originalLoanAmount','originalLoanTerm','paymentToIncomePercentage','originalInterestRatePercentage' #metrics
          ,'vehicleManufacturerName','vehicleNewUsedCodeM','vehicleModelYear','vehicleValueAmount','vehicleValueSourceCodeM' #vehicle
            ,'coObligorIndicator','obligorCreditScore','obligorGeographicLocation','underwritingIndicator','obligorCreditScoreType' #obligor
            ,'obligorEmploymentVerificationCodeM','vehicleTypeCodeM','obligorIncomeVerificationLevelCodeM']

In [ ]:
#simplifying column names
cols={x+'LocRandom':x for x in features}
data.rename(columns=cols,inplace=True)

In [ ]:
include=['reportingPeriodBeginningDateREvent','reportingPeriodEndingDateREvent','ltv']

In [ ]:
data=data[features+include+['binaryTargetNumeric']]

In [ ]:
data.head()

   originalLoanAmount  originalLoanTerm  ...       ltv  binaryTargetNumeric
0            27996.23              74.0  ...  1.025417                    1
1            24495.00              74.0  ...  1.248153                    0
2            22000.00              73.0  ...  0.856490                    1
3            17967.06              74.0  ...  0.948130                    0
4            34817.72              74.0  ...  0.808214                    0

[5 rows x 21 columns]

### Handle na

In [ ]:
data.isnull().sum()

originalLoanAmount                        0
originalLoanTerm                          0
paymentToIncomePercentage                 0
originalInterestRatePercentage            0
vehicleManufacturerName                   0
vehicleNewUsedCodeM                       0
vehicleModelYear                          0
vehicleValueAmount                        0
vehicleValueSourceCodeM                   0
coObligorIndicator                        0
obligorCreditScore                     1054
obligorGeographicLocation                 0
underwritingIndicator                     0
obligorCreditScoreType                    0
obligorEmploymentVerificationCodeM        0
vehicleTypeCodeM                          0
obligorIncomeVerificationLevelCodeM       0
reportingPeriodBeginningDateREvent        0
reportingPeriodEndingDateREvent           0
ltv                                       0
binaryTargetNumeric                       0
dtype: int64

In [ ]:
credit_mean=data['obligorCreditScore'].mean()
data['obligorCreditScore']=data['obligorCreditScore'].fillna(credit_mean)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
data.shape

(152222, 21)

### Export

In [ ]:
e_folder = '/content/drive/MyDrive/Loan_default/prepared/'
f_name = 'train_model_ready.csv'
data.to_csv(e_folder + f_name,index=False)