### Load libs

In [ ]:
import pandas as pd
import os

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
n = 725
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.max_rows', n)
pd.set_option('display.max_columns', n)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.

### Load data

In [ ]:
folder = '/content/drive/MyDrive/Loan_default/prepared/'
file = 'train_model_ready.csv'
path = folder + file

In [ ]:
data = pd.read_csv(path)

In [ ]:
data.shape

(152222, 21)

### Get event year

In [ ]:
def get_year(row):
    
    """
    Get co year
    """
    
    init = str(row['reportingPeriodBeginningDateREvent'])
    year = init[0:4]
    
    return year

In [ ]:
data['eventYear'] = data.apply(get_year, axis = 1)

In [ ]:
data['eventYear'].value_counts()

2020    77670
2019    38978
2021    30904
2018    4670
Name: eventYear, dtype: int64

In [ ]:
data.head()

,originalLoanAmount,originalLoanTerm,paymentToIncomePercentage,originalInterestRatePercentage,vehicleManufacturerName,vehicleNewUsedCodeM,vehicleModelYear,vehicleValueAmount,vehicleValueSourceCodeM,coObligorIndicator,obligorCreditScore,obligorGeographicLocation,underwritingIndicator,obligorCreditScoreType,obligorEmploymentVerificationCodeM,vehicleTypeCodeM,obligorIncomeVerificationLevelCodeM,reportingPeriodBeginningDateREvent,reportingPeriodEndingDateREvent,ltv,binaryTargetNumeric,eventYear
0,27996.23,74.0,0.0465,0.0740,chevrolet,1,2018.0,27302.28,invoiceprice,0,637.0,ms,1,1,1,suv,"stated,notverified",2021-04-01,2021-04-30,1.025417,1,2021
1,24495.00,74.0,0.1595,0.1799,ford,0,2013.0,19625.00,other,0,620.0,oh,1,1,1,truck,"stated,verifiedbutnottolevel4orlevel5",2021-04-01,2021-04-30,1.248153,0,2021
2,22000.00,73.0,0.0950,0.1450,chevrolet,1,2018.0,25686.22,invoiceprice,1,620.0,tn,1,1,0,suv,"stated,verifiedbutnottolevel4orlevel5",2020-04-01,2020-04-30,0.856490,1,2020
3,17967.06,74.0,0.0060,0.1285,ford,0,2017.0,18950.00,other,0,636.0,md,1,1,1,suv,"stated,notverified",2021-04-01,2021-04-30,0.948130,0,2021
4,34817.72,74.0,0.1294,0.0995,chevrolet,1,2018.0,43079.85,invoiceprice,0,628.0,tx,1,1,1,truck,"stated,notverified",2021-04-01,2021-04-30,0.808214,0,2021

In [ ]:
encode_features = ['vehicleManufacturerName',
                 'vehicleValueSourceCodeM',
                 'obligorGeographicLocation',
                 'vehicleTypeCodeM',
                 'obligorIncomeVerificationLevelCodeM']

In [ ]:
data=pd.get_dummies(data,columns=encode_features,drop_first=True)

In [ ]:
tr = data[data['reportingPeriodBeginningDateREvent'] < '2020-7'].reset_index(drop = True)
v = data[(data['reportingPeriodBeginningDateREvent'] >= '2020-7') & (data['reportingPeriodBeginningDateREvent'] < '2021-03')].reset_index(drop = True)               
te = data[data['reportingPeriodBeginningDateREvent'] >= '2021-03'].reset_index(drop = True)

In [ ]:
tr.drop(columns=['reportingPeriodBeginningDateREvent','reportingPeriodEndingDateREvent'],inplace=True)
v.drop(columns=['reportingPeriodBeginningDateREvent','reportingPeriodEndingDateREvent'],inplace=True)
te.drop(columns=['reportingPeriodBeginningDateREvent','reportingPeriodEndingDateREvent'],inplace=True)

In [ ]:
print(tr.shape)
print(v.shape)
print(te.shape)

(121318, 119)
(14809, 119)
(16095, 119)

In [ ]:
(len(tr) + len(v) + len(te)) == len(data)

True

### Export

In [ ]:
e_folder = '/content/drive/MyDrive/Loan_default/splits/'
dir_bool = os.path.isdir(e_folder)
if dir_bool == False:
    os.mkdir(e_folder)

In [ ]:
tr.to_csv(e_folder + 'train_outcome.csv', index = False)
v.to_csv(e_folder + 'validation_outcome.csv', index = False)
te.to_csv(e_folder + 'test_outcome.csv', index = False)

In [ ]:
print('complete...')

complete...

### End